* {
	margin: 0;
}
.app {
	background-color: #fafafa;
	height: 100vh;
}

.app-header {
	padding: 5px;
	background-color: white;
	border-bottom: 1px solid lightgray;
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	z-index: 1;
}
.app-logo {
	object-fit: contain;
}
.app-signup {
	display: flex;
	flex-direction: column;
}
